<!-- <h3>This is center div</h3> -->

<!-- <app-data-binding></app-data-binding> -->
<!-- <app-directives></app-directives> -->

<!-- <app-products>
   <h1 class="pt-4 mb-4">This is content from parent component</h1> 
</app-products> -->

<!-- <app-my-modal>   
   <h3 id="div1">Registration Form</h3>
   <h5><span>This is Modal</span></h5>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNp5cdaIatjCHPZfk5xC3CqZFjq7znBp7uWfgM6ZBU0A&s" alt="">
</app-my-modal>    
 
center component is consumer here. whatever data will pass, it wil render that data -->
<!-- many consumers can use this modal for different purposes. -->



<!-- <app-pipes></app-pipes> -->

<!-- <app-employee-directives></app-employee-directives> -->

 <!-- <app-parent></app-parent> -->

<!-- <app-employee-crud></app-employee-crud>  -->

<!-- <app-user-details></app-user-details> -->

<!-- <app-traffic-light></app-traffic-light> -->


<!-- <div class="row border">
   <div class="col-sm-4 border">
      <app-math1></app-math1>
   </div>
   <div class="col-sm-4 border">
      <app-math2></app-math2>
   </div>
   <div class="col-sm-4 border">
      <app-math3></app-math3>
   </div>
</div> -->

<!-- <app-users></app-users> -->
 <!-- <app-product-list></app-product-list> -->

 <!-- <app-observable-demo1></app-observable-demo1> -->
 <app-observable-demo2></app-observable-demo2>
